player-connection-mode=Listen
player-connection-guid=647554979
player-connection-debug=0
player-connection-project-name=GridEmpire
player-connection-ip=192.168.0.197
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=0ca1619036ce492cba1d15ab26bb9269
