player-connection-mode=Listen
player-connection-guid=1361441749
player-connection-debug=0
player-connection-project-name=GridEmpire
player-connection-ip=192.168.0.197
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=48b5ec6ba72f4e7b84674065e1c107c3
